# binaries
myteams_server
myteams_cli

# object files
build/

# unit testing
unit_tests
*.gcno
*.gcda

vgcore.*

#clion
CMakeLists.txt
cmake-build-debug/
.idea/

#floobits
.flooignore
.floo

#testQueue
test_queue/
